Language: Cpp

IndentWidth: 4
ColumnLimit: 80

DerivePointerAlignment: false
PointerAlignment: Right
AlignConsecutiveMacros: AcrossEmptyLines
NamespaceIndentation: All
AlignEscapedNewlines: Right
AlignOperands: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: None
BreakBeforeConceptDeclarations: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BreakStringLiterals: true
