[submodule "submodules/fmt"]
	path = submodules/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = git@github.com:glfw/glfw.git
[submodule "submodules/stb"]
	path = submodules/stb
	url = git@github.com:nothings/stb.git
[submodule "submodules/portaudio"]
	path = submodules/portaudio
	url = git@github.com:PortAudio/portaudio.git
[submodule "submodules/Catch2"]
	path = submodules/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "submodules/tinyobjloader"]
	path = submodules/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "submodules/spirv-reflect"]
	path = submodules/spirv-reflect
	url = git@github.com:KhronosGroup/SPIRV-Reflect.git
[submodule "submodules/libsndfile"]
	path = submodules/libsndfile
	url = git@github.com:libsndfile/libsndfile.git
